networks:
    digi_pkg:

services:
  postgres:
    image: timescale/timescaledb-ha:pg16
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes: 
      - "./postgres-16-data:/var/lib/postgresql/data"
#      - "./postgres-home:/home"
    networks:
      - digi_pkg

  db-bootstrap:
    image: postgres:16
    depends_on:
      - postgres
    environment:
      PGPASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - "./db/migrations:/migrations:ro"
    command: >
      bash -c "
        echo 'Waiting for postgres...' &&
        until pg_isready -h postgres -U postgres -d postgres; do
          sleep 1
        done &&
        echo 'Running migrations from /migrations' &&
        for f in /migrations/*.sql; do
          echo 'Applying' \"${f}\" '...'
          psql -h postgres -U postgres -d postgres -v ON_ERROR_STOP=1 -f \"${f}\"
        done &&
        echo 'Migrations completed successfully.'
      "
    restart: "no"
    networks:
      - digi_pkg
  
  mosquitto:
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "./mosquitto-data:/mosquitto"
    networks:
      - digi_pkg
  
  nodered:
    image: nodered/node-red
    ports:
      - "1880:1880"
    restart: unless-stopped
    volumes:
      - "./nodered-data:/data"
    environment:
      NODE_RED_ENABLE_SAFE_MODE: false
    networks:
      - digi_pkg
   
  grafana:
    image: grafana/grafana-oss
    user: "1000:1000"
    restart: unless-stopped
    environment:
      # increases the log level from info to debug
      #- GF_LOG_LEVEL=debug
      GF_SECURITY_ADMIN_USER: $GRAFANA_USER
      GF_SECURITY_ADMIN_PASSWORD: $GRAFANA_PASSWORD
    ports:
      - '3000:3000'
    volumes:
      - './grafana-data:/var/lib/grafana'
    networks:
      - digi_pkg
